<nav>
  <ul>
    <li id="active" class="left-radius">Google Kubernetes Engine</li>
    <li><a class="right-radius" href="/cloudarmour">Cloud Armour</a></li>
  </ul>
</nav>
<% if projects.any? %>
<p><span class="all-projects"><a href="/">All Projects</a></span><span class="note">All times are in UTC. Data updates every 30 minutes.</span></p>
<table>
  <%= partial 'partials/gke_thead' %>
  <tbody>
  <% projects.each_with_index do |project, i| cluster = project.get[:cluster] %>
     <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td><span class="project"><a href="<%= gcp_console_base_url %><%= h project.document_id %>"><%= h project.document_id %></a></span><br><br><strong>Created</strong><br><span class="date"><%= d cluster.dig(:createTime) %></span><br><br><strong>Location</strong><br><% if cluster.dig(:location) != 'europe-west2' %><img src="/svg/warning.svg" alt="Warning"><%= h cluster.dig(:location) %><% else %>London<% end %></td>
      <%= partial 'partials/cluster', locals: { cluster: cluster, project: project, master_version_alerts: master_version_alerts, node_version_alerts: node_version_alerts } %>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p><span class="all-projects"><a href="/">All Projects</a></span></p>
<p id="notice"><img src="/svg/bookmark-off.svg" alt="Bookmark"> You don’t have any bookmarked projects.</p>
<% end %>