<% if projects.any? %>
<table>
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="16">GKE Cluster</th>
    </tr>
    <tr>
      <th></th>
      <th>Created</th>
      <th>Location</th>
      <th>Master Version</th>
      <th>Master Authorised Networks</th>
      <th>Network Policy</th>
      <th>Pod IP Address Range</th>
      <th>Config Database (etcd)</th>
      <th>Maintenance Window</th>
      <th>Nodes</th>
      <th>Private Nodes</th>
      <th>Secure Boot</th>
      <th>Shielded Nodes</th>
      <th>Workload Identity</th>
      <th>Node Pools</th>
      <th>Status</th>
      <th>Retrieved</th>
    </tr>
  </thead>
  <tbody>
  <% projects.each_with_index do |project, i| cluster = project.get[:cluster] %>
     <tr class="<%= i.even? ? 'even' : 'odd' %>">
      <td class="project"><a href="<%= gcp_console_base_url %><%= h project.document_id %>"><%= h project.document_id %></a></td>
      <td><%= d cluster.dig(:createTime) %></td>
      <td><% if cluster.dig(:location) != 'europe-west2' %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.3 15.2c.7 0 1-.5.7-1.2L9.9 3.4c-.4-.7-1-.7-1.4 0L2.4 14c-.4.7-.1 1.2.7 1.2h12.2zm-5.4-2.1H8.5v-1.4h1.4v1.4zm0-2.7H8.5V7.7h1.4v2.7z" fill="#F2A600"></path></svg></div><%= h cluster.dig(:location) %><% else %>London<% end %></td>
      <td><%= h cluster.dig(:currentMasterVersion) %></td>
      <td class="ip-addresses"><% if cluster.dig(:masterAuthorizedNetworksConfig, :cidrBlocks) %><% cluster[:masterAuthorizedNetworksConfig][:cidrBlocks].each do |cidr_block| %><%= h cidr_block[:cidrBlock] %><% if cidr_block.dig(:displayName) %> (<%= h cidr_block[:displayName] %>)<% end %><br><% end %><% end %></td>
      <td><% if cluster.dig(:networkPolicy, :enabled) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div> <%= h cluster.dig(:networkPolicy, :provider).capitalize %><% end %></td>
      <td class="ip-addresses"><%= h cluster.dig(:ipAllocationPolicy, :clusterIpv4CidrBlock) %></td>
      <td><%= h cluster.dig(:databaseEncryption, :state).capitalize %></td>
      <td><%= h cluster.dig(:maintenancePolicy, :window, :dailyMaintenanceWindow, :startTime) %> UTC</td>
      <td><% if cluster.dig(:currentNodeCount) %><%= h cluster.dig(:currentNodeCount).to_i %><% else %>0<% end %></td>
      <td><% if cluster.dig(:privateClusterConfig, :enablePrivateNodes) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
      <td><% if cluster.dig(:nodeConfig, :shieldedInstanceConfig, :enableSecureBoot) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
      <td><% if cluster.dig(:shieldedNodes, :enabled) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
      <td><% if cluster.dig(:workloadIdentityConfig, :workloadPool) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
      <td>
      <% if cluster.dig(:nodePools) %>
      <% cluster[:nodePools].each do |node_pool| %>
        <table class="nodepool">
          <thead>
            <tr>
              <th colspan="12"><%= h node_pool[:name] %></th>
            </tr>
            <tr>
              <th>Node Version</th>
              <th>Machine Type</th>
              <th>Disk Size</th>
              <th>Disk Type</th>
              <th>Image Type</th>
              <th>Auto-Repair</th>
              <th>Auto-Upgrade</th>
            <% if node_pool.dig(:autoscaling, :enabled) %>
              <th>Auto-Scaling</th>
            <% if node_pool.dig(:autoscaling, :minNodeCount) %>
              <th>Min Nodes</th>
            <% elsif node_pool.dig(:autoscaling, :autoprovisioned) %>
              <th>Auto-Provisioned</th>
            <% end %>
              <th>Max Nodes</th>
            <% end %>
              <th>Max Pods/Node</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= h node_pool[:version] %></td>
              <td><%= h node_pool.dig(:config, :machineType) %></td>
              <td><%= h node_pool.dig(:config, :diskSizeGb).to_i %> GB</td>
              <td><%= h node_pool.dig(:config, :diskType) %></td>
              <td><%= h node_pool.dig(:config, :imageType) %></td>
              <td><% if node_pool.dig(:management, :autoRepair) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
              <td><% if node_pool.dig(:management, :autoUpgrade) %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div><% else %><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2a7 7 0 1 1 0 14A7 7 0 0 1 9 2zm-1 8h2V5H8v5zm0 3h2v-2H8v2z" fill="#D50000" fill-rule="evenodd"></path></svg></div><% end %></td>
            <% if node_pool.dig(:autoscaling, :enabled) %>
              <td><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div></td>
            <% if node_pool.dig(:autoscaling, :minNodeCount) %>
              <td><%= h node_pool.dig(:autoscaling, :minNodeCount).to_i %></td>
            <% elsif node_pool.dig(:autoscaling, :autoprovisioned) %>
              <td><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M9 2C5.136 2 2 5.136 2 9s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zM7.6 12.5L4.1 9l.987-.987L7.6 10.52l5.313-5.314.987.994-6.3 6.3z" fill="#0F9D58" fill-rule="evenodd"></path></svg></div></td>
            <% end %>
              <td><%= h node_pool.dig(:autoscaling, :maxNodeCount).to_i %></td>
            <% end %>
              <td><%= h node_pool.dig(:maxPodsConstraint, :maxPodsPerNode).to_i %></td>
              <td><%= h node_pool[:status].capitalize %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <% end %>
      </td>
      <td><%= h cluster.dig(:status).capitalize %></td>
      <td><%= h project.get[:updated] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p><div><svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M15.3 15.2c.7 0 1-.5.7-1.2L9.9 3.4c-.4-.7-1-.7-1.4 0L2.4 14c-.4.7-.1 1.2.7 1.2h12.2zm-5.4-2.1H8.5v-1.4h1.4v1.4zm0-2.7H8.5V7.7h1.4v2.7z" fill="#F2A600"></path></svg></div> Unable to retrieve project details.</p>
<% end %>